pipeline/LOAD_DATA_FBODS_old.json
{
	"name": "LOAD_DATA_FBODS_old",
	"properties": {
		"activities": [
			{
				"name": "LookupMetadata",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[FB_FILE_TABLENAME_MAP]"
					},
					"dataset": {
						"referenceName": "GetFileNameMEtadataSQL",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FileProcessingLoop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupMetadata').output.value",
						"type": "Expression"
					},
					"batchCount": 4,
					"activities": [
						{
							"name": "CopyData_BloB_to_SQLDB",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "FileSystemSource",
									"recursive": true
								},
								"sink": {
									"type": "SqlSink",
									"writeBatchSize": 10000,
									"preCopyScript": {
										"value": "@{concat('TRUNCATE TABLE  '  ,item().stg_tablename)}",
										"type": "Expression"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "AzureBlobInputFile",
									"type": "DatasetReference",
									"parameters": {
										"P_filename": "@item().filename"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SQLFBODS_Destination",
									"type": "DatasetReference",
									"parameters": {
										"P_desttablename": "@item().stg_tablename"
									}
								}
							]
						},
						{
							"name": "SP_Delete_Duplicate_rows",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CopyData_BloB_to_SQLDB",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"storedProcedureName": "[dbo].[FBODS_STG_TO_TGT_TABLES]",
								"storedProcedureParameters": {
									"stgtablename": {
										"value": {
											"value": "@item().stg_tablename",
											"type": "Expression"
										},
										"type": "String"
									},
									"tgttablename": {
										"value": {
											"value": "@item().tgt_tablename",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SQL_FBODS",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Copy_STG_to_TGT_data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "SP_Delete_Duplicate_rows",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "SqlSource"
								},
								"sink": {
									"type": "SqlSink",
									"writeBatchSize": 10000
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SQLFBODS_Destination",
									"type": "DatasetReference",
									"parameters": {
										"P_desttablename": "@item().stg_tablename"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SQLFBODS_DESTINATION_TGT",
									"type": "DatasetReference",
									"parameters": {
										"P_TGT_DEST_TABLE_NAME": "@item().tgt_tablename"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "CopytoArchieve",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FileProcessingLoop",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "FileSystemSource",
						"recursive": true
					},
					"sink": {
						"type": "FileSystemSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "FileCopytoArchieve",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureArchieveFolder",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "DeleteINcomingFolder",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "CopytoArchieve",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"dataset": {
						"referenceName": "FileCopytoArchieve",
						"type": "DatasetReference"
					},
					"enableLogging": false
				}
			}
		]
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}